
<div class="container">
  <aside class="w-1/3 mx-auto bg-white shadow-lg rounded-lg m-3 bg-red-500">
    <% if @projects.empty? %>
      <div class="p-10 text-white text-2xl">
        <p>Ops, você ainda não apresentou propostas na plataforma</p>
        <p class="mt-10">Faça sua primeira proposta agora</p>
      </div>
      <%= link_to "Cadastrar Projeto", public_projects_path, class: 'bg-gray-200 text-2xl text-center 
      block p-2 hover:bg-blue-500 hover:text-white border-t-2 border-black' %>
    <% end %>
  </aside>
  <%= render '/shared/listen_project', object: @projects %>
  <%= link_to 'Voltar', root_path %>
</div>
