<header>
  <h3>
    Bem-vindo ao freelancers tech
  </h3>
  <nav>
    <%= link_to 'Ver Projetos', projects_path %>
  </nav>
  <nav>
    <%= link_to 'Entrar Sou Usuario', new_user_session_path %>
    <%# escolher entre usuario e freelancer %>
  </nav>
  <% if user_signed_in? %>
    <small>Logado como <%= current_user.email %></small>
  <% end %>
 
</header>


