<%# <%= render "partials/nav_bar" %1> %>
<% content_for :nav_bar do%>
  <li class='active'><%= link_to 'Home', root_path%></li>
  <li class=''><%= link_to 'Ver projetos', projects_path%></li>
<% end %>
