<div class="container">
    <aside>
      <% if @projects.empty? %>
        <div class="alert alert-warning">
          <p >Ops, no momento não temos projetos abertos</p>
          <p >Tente novamente mais tarde</p>
        </div>
      <% end %>
    </aside>
  <% if professional_signed_in? %>
    <%= render 'shared/search' %>
  <% end %>
  <%= render '/shared/listen_project', object: @projects %>
  <%= link_to 'Voltar', root_path, class: "bg-blue-500 border-2 border-blue-500 text-white rounded-lg text-center px-3 py-1 w-24
             transition-colors duration-700 hover:bg-white hover:border-2 hover:border-blue-500 hover:text-gray-700" %>
</div>
