<div class="container">
  
    <aside>
      <% if @projects.empty? %>
        <div class="alert alert-warning">
          <p >Ops, no momento não temos projetos abertos</p>
          <p >Tente novamente mais tarde</p>
        </div>
      <% end %>
      <%# usar class text-alert do bootstrap aqui%>
    </aside>
  <%= render '/shared/listen_project', object: @projects %>
  <%= link_to 'Voltar', root_path %>
</div>
