<div class="container mx-auto bg-white pb-24 pt-8 px-12 rounded-xl shadow-md">
    <div class="flex flex-col items-center w-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-400 h-16 w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <span class="text-xl text-gray-800">Seu Time</span>
        <span class="text-gray-600">Informações dos integrantes do seu time </span>
        <div class="flex w-full mt-4">
            <%= form_with url: team_project_path(@project), method: :get do%>
              <div class="flex bg-white rounded-lg px-2 py-1 justify-between">
                <%= label_tag :q, "Busca", class:"hidden" %>
                <input name="q" id='search' value="" class="text-base text-gray-400 flex-grow outline-none px-2 " type="text" placeholder="Filtre membros da seu time" />
                <%= submit_tag 'Filtrar', class:"bg-black text-white text-base rounded-lg px-4 py-2 font-thin hover:bg-gray-400" %>
              </div>
            <% end %>
        </div>
        <span class="text-sm text-gray-600 mt-4 w-full align-left tracking-wider">MEMBROS DO TIME </span>
        <div class="grid grid-cols-2 mt-4 w-full gap-4">
            <% @project.proposals.each do |p| %>
              <%= render ProfileCardComponent.new(profile: p.professional.profile) %>
            <% end %>
        </div>
    </div>
</div>
