<h1>Nova proposta para seu projeto</h1>

<p>Olá, <%= @proposal.project.user.email %></p>

<p>Seu projeto <%= @proposal.project.title %> recebeu uma nova proposta de <%= @proposal.professional.profile.name %></p>

